/*Google Fonts
font-family: 'Kaushan Script', cursive;
font-family: 'Comfortaa', sans-serif;*/

/*Estilos generales*/

h3,
h2,
.navbar-brand,
.btn-primary{
    font-family: 'Kaushan Script', cursive; 
}

h1,
h4,
p,
a,
button{
    font-family: 'Comfortaa', sans-serif; 
}

h2{
    color: #628604;
}

#wp{
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: rgba(38, 212, 105, 0.699);
    border-radius: 50%;
    height: 55px;
    width: 55px;
    text-align: center;
    line-height: 55px;
    font-size: 26pt;
}

#wp a{
    color: white;
    text-decoration: none;
}

#wp a:hover{
    position: fixed;
    bottom: 15pt;
    right: 15pt;
    background-color: rgba(38, 212, 105);
    border-radius: 50%;
    height: 45pt;
    width: 45pt;
    text-align: center;
    line-height: 55pt;
    font-size: 30pt;
}

button,
.btn{
    background-color: #a9cf46 !important;
    border: #a9cf46 !important;
}

/*Estilos nav*/

nav.bg-dark{
    background-color: transparent !important; 
    border: none;
    color: #ffff;
}

.nav-link{
    color: #ffff !important;
    text-decoration: none;
    margin: 0 5px;
}

nav.bg-green{
    background-color: #9cb16698 !important;
    padding: 10pt;
    font-size: 13pt;
    transition: all 1s ease;
}

.nav-link:hover{
    color: #abbea5;
    padding-bottom: 5pt;
    border-bottom: 2px solid #abbea5;
}

.nav-link.active{
    background-color: rgba(255, 255, 255, 0.863);
    color: #225a40ef !important;
    border-radius: 5px;
}

.jm{
    width: 80pt;
}

/*Estilos header*/

.fondo{
    background-image: url("image/matrix.jpg");
    background-color: transparent;
    background-position: center center;
    background-size: cover;
    height: 100vh;
}

header{
    color: white;
    text-align: center;
}

header h2{
    color: white!important;
    font-size: 30pt;
}

header p{
    font-size: 20pt;
}

.btn-success{
    color: black;
    padding: 10pt 45pt 10pt 45pt;
    border-radius: 5pt;
    font-size: 15pt;
}

.btn-success:hover{
    color: #ee7733;
}

/*Estilos main*/

section{
    padding: 20pt;
}

section h2{
    padding: 18pt;
}

.i-service{
    color: white;
    background-color: #a9cf46;
    border-radius: 50%;
    width: 70pt;
    height: 70pt;
    padding: 15pt;
    font-size: 40pt;
}

.color{
    background-color: #f8f9fa;
}

/*Product section*/

section{
    padding: 30pt;
}

.color img{
    width: 230pt;
}

.modal-header{
    border: none;
}

.modal-body{
    text-align: center;
    border: none;
}

.modal-body h2{
    font-size: 3rem;
    color: #a9cf46;
}

.modal-footer{
    border: none;
    justify-content: center;
}

/*About section*/

h3{
    color: #a9cf46;
    font-size: 24pt;
}

p{
    font-size: 13pt;
}

#about h2{
    padding-bottom: 30pt;
}

.img-about{
    width: 250pt;
    border-radius: 50%;
}

/*Contact Section*/

#contact li{
    display: inline;
    padding: 10pt;
}

#contact a{
    color: #a9cf46;
    font-size: 30pt;
    text-decoration: none;
}

.maps{
    box-sizing: content-box;
    width: 100%;
}

.i-contact:hover{
    color: #ee7733;
}

/*Footer*/

footer{
    background-color: #9cb166d0;
    padding: 15pt;
}

footer h3{
    color: #ee7733b2;
}

footer p{
    color: black;
}

.i-footer{
    color: #ee7733b2;
    font-size: 18pt;
}

#final{
    padding: 5pt;
    text-align: center;
}

#final h1{
    font-size: 10pt;
}

#final p{
    font-size: 10pt;
}
